  <!DOCTYPE html>
  <html>
  <head>
    <title>Recipe</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <% if @current_user %>

    <nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
      <ul class="nav navmenu-nav">
        <li class="active"><a href="#"><i class="fa fa-search"></i><br><%= link_to "Find Recipes",root_path %></li>
        <li class="active"><a href="#"><i class="fa fa-users"></i> <%= link_to "Profile", @current_user %> </i></li>
        <li class="active"><a href="#"><i class="fa fa-gratipay"></i> <%= link_to "Favorites", favorite_path(@current_user.id) %> </i></li>
        <li class="active"><a href="#"><i class="fa fa-sign-out"> </i> <%= link_to "Log out", logout_path, method: "delete" %></i> </li>

      </ul>
    </nav>

    <div class="navbar navbar-default navbar-fixed-top">

      <a class="navbar-brand" href="#">
        <%= link_to image_tag("logo.png"), root_path, :class => "navbar-brand" %>
      </a>

      <span class="name"> You are logged in as <%= @current_user.name %> </span>

      <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
        <i class="fa fa-cog fa-3x"></i>
      </button>



      <!-- <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
        <i class="fa fa-heart fa-3x"> </i>
      </button> -->



    </div>

    <% else %>

    <div class="navbar-brand">

    <%= link_to image_tag('logo.png'), root_path, :class => "navbar-brand"  %>

    </div>


    <br>


    <%= link_to "Login", login_path, class: "btn btn-primary pull-right bring-top" %>
     <%= link_to "Signup", signup_path, class: "btn btn-primary pull-right bring-top" %>

     <% end %>


      <%= yield %>


    </body>
    </html>

